In [ ]:
import pandas as pd

In [3]:
df2001 = pd.read_csv('/Users/paul/Desktop/Dipsea/RAW/2000-2016/results_2001.csv')

In [12]:
df2001.head()

   place_overall     time                name age sex actual_time
0              1  0:46:25      Shirley Matson  60   F     1:08:25
1              2  0:47:53        Russ Kiernan  63   M     1:01:53
2              3  0:48:27  Christopher Phipps  31   M     0:49:27
3              4  0:48:44          Bruce Mace  42   M     0:51:44
4              5  0:48:51      Steve Stephens  57   M     0:58:51

In [5]:
df2001.drop(columns=['HomeTown', 'Place_Adj', 'Race/Place','Bib'], inplace=True)

In [ ]:

df2001['actual_time'] = df2001['Time/Place'].str.extract(r'(^\d+:\d{2}:\d{2})')

In [11]:
df2001.drop(columns=['Time/Place'], inplace=True)

In [13]:
df2001.columns=['place_overall', 'time', 'name', 'age', 'sex', 'actual_time']

In [15]:
df2001.to_csv('/Users/paul/Desktop/Dipsea/PROCESSED/2000-2016/processed_results_2001.csv', index=False)

In [ ]:
df2002 = pd.read_csv('/Users/paul/Desktop/Dipsea/RAW/2000-2016/results_2002.csv')
df2002.head()
df2002.drop(columns=['HomeTown', 'Place_Adj', 'Race/Place','Bib'], inplace=True)
df2002['actual_time'] = df2002['Time/Place'].str.extract(r'(^\d+:\d{2}:\d{2})')

df2002.drop(columns=['Time/Place'], inplace=True)
df2002.columns=['place_overall', 'time', 'name', 'age', 'sex', 'actual_time']
df2002.to_csv('/Users/paul/Desktop/Dipsea/PROCESSED/2000-2016/processed_results_2002.csv', index=False)

,Place,Time,Name,HomeTown,Age,Sex,Race/Place,Time/Place,Place_Adj,Bib
0,1,45:14,Russ Kiernan,Mill Valley CA,64,M,Invitational/1,1:00:14/37,H/1,15
1,2,47:53,Shirley Matson,Larkspur CA,61,F,Invitational/2,1:07:53/202,C/1,20
2,3,49:11,Roy Rivers,Mill Valley CA,45,M,Invitational/3,53:11/4,W/1,4
3,4,49:16,Christopher Phipps,San Francisco CA,32,M,Invitational/4,50:16/1,Z/1,1
4,5,49:19,Diana Fitzpatrick,Larkspur CA,44,F,Invitational/5,1:00:19/38,M/1,11

In [ ]:
import pandas as pd

files = ['results_2003.csv', 'results_2004.csv', 'results_2005.csv']

for file in files:
    df = pd.read_csv(f'/Users/paul/Desktop/Dipsea/RAW/2000-2016/{file}')
    
    df.drop(columns=['HomeTown', 'Place_Adj', 'Race/Place','Bib'], inplace=True)
    
    df['actual_time'] = df['Time/Place'].str.extract(r'(^\d+:\d{2}:\d{2})')
    
    df.drop(columns=['Time/Place'], inplace=True)
    
    df.columns = ['place_overall', 'time', 'name', 'age', 'sex', 'actual_time']
    
    output_filename = f'/Users/paul/Desktop/Dipsea/PROCESSED/2000-2016/processed_{file}'
    df.to_csv(output_filename, index=False)